<footer>
  <nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <p class="card-text text-white">&copy; 2025 Made By Fatimah Kamal</p>
    <div class="me-3">
      <a href="https://www.linkedin.com/in/fatimah-kamal/" class="btn btn-primary">LinkedIn</a>
      <a href="https://github.com/fatimahK-cyber" class="btn btn-primary">GitHub</a>
    </div>  
  </div>
  </nav>
</footer>


