<% include partials/header %>
<% include partials/main_nav %>

<div class="wrapper">

  <div id="banner">
    <h1>Get to Know Me</h1>
  </div>

  <!-- Image  -->
  <div class="card mb-3" style="width: 18rem;">
    <img src="/Asset/images/Portfolio.jpeg" class="card-img-top" alt="Portfolio Image">
    <div class="card-body">
      <h5 class="card-title">Hello! My name is Fatimah Kamal</h5>
      <p class="card-text">I am a third-year student at Ontario Tech University, pursuing a degree in Networking and IT Security.</p>
    </div>
  </div>

  <!-- Video  -->
  <div class="card mb-3" style="width: 18rem;">
    <video
      id="video" 
      width="320"
      height="240"
      controls 
      autoplay muted loop
      poster="/Asset/images/Portfolio.jpeg"
      preload="auto"
      class="card-img-top">
        <source src="/Asset/images/Introduction.mp4" type="video/mp4">
        <source src="/Asset/images/Introduction.ogv" type="video/ogv">

    </video>
    <div class="card-body">
      <h5 class="card-title">Introduction Video</h5>
    </div>
  </div>

</div>

<% include partials/footer %>
